<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css" >
    <title>About</title>
  <link rel='icon' href="/mediasrc/weather-icon1.png">

</head>  
<body>
     <div class="main-content">
     {{>header}}

       <div class='body'>
            <img class="portrait" src="mediasrc/about_img.jpg">
          <h3>Conatact :{{contact}}</h3>
          <h3>Email : Not available</h3>
          <h3>Instagram: Not available</h3>
       </div>  
        
     </div>
  
    {{>footer}}
</body>

</html>