<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css" >
    <title>Help</title>
    <link rel='icon' href="/mediasrc/weather-icon1.png">

</head>  
<body>
     <div class="main-content">
        {{>header}}
         <div class='body'>
               <h1>{{helpMessage}}</h1>
         </div> 
      
     </div>
   
        {{>footer}}

</body>

</html>